/* Reset basique */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #1e1e2f;
    color: #fff;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 60px;
    background-color: #2c2c3c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    transition: width 0.3s;
    overflow: hidden;
    z-index: 20;
}

.navbar:hover {
    width: 200px;
}

.navbar button {
    background-color: #44445a;
    border: none;
    color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, padding 0.3s;
    white-space: nowrap;
}

.navbar button:hover {
    background-color: #61617b;
}

.navbar .bottom-button {
    margin-top: auto;
}

.main {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.bg.current {
    z-index: 0;
    opacity: 1;
}

.bg.next {
    z-index: 1;
    opacity: 0;
}

.main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#playContainer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}


#playContainer label {
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
}

.play-button {
    padding: 20px 50px;
    font-size: 24px;
    background-color: #ff4c4c;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    z-index: 10;
}

.play-button:hover {
    background-color: #ff1c1c;
}

.low-perf-button {
    background-color: #44445a;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.low-perf-button:hover {
    background-color: #61617b;
}

.low-perf-button.active {
    background-color: #4caf50;
}

.checkbox-icon {
    font-size: 18px;
    font-weight: bold;
}