@font-face {
    font-family: "Minecraft";
    src: url("../fonts/Minecraft.ttf") format("truetype");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-image: url('../images/login_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.red-box {
    position: fixed;
    bottom: 27px;
    left: 50%;
    transform: translateX(-50%);

    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    width: auto;
}


.red-box-text {
    font-family: "Minecraft", sans-serif;
    font-size: 14px;

    color: #ffffff;
    text-decoration: none;
    cursor: pointer;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    transition: color 0.2s ease, transform 0.2s ease;
}

.red-box-text:hover {
    color: #F2B01F;
    transform: scale(1.05);
}


#microsoft {
    width: 230px;
    height: 40px;

    background-image: url("../images/microsoft_btn.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: none;
    border-radius: 6px;
    cursor: pointer;

    padding: 0;
    transform: translateY(-8px);
    transition: transform 0.2s ease;
}


#microsoft:hover {
    transform: scale(1.05);
    transform: translateY(-10px) scale(1.05);
}
